* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-areas:
    "header header header"
    "sidebar para-1 para-1"
    "sidebar para-2 para-2"
    "footer footer footer";
  grid-template-rows: auto 1fr 1fr auto;
  grid-template-columns: auto 1fr;
}
.item {
  border: 2px solid olive;
  padding: 10px;
  background-color: orange;
}

.header {
  grid-area: header;
  height: 100px;
}
.para-1 {
  grid-area: para-1;
}
.para-2 {
  grid-area: para-2;
}
.sidebar {
  grid-area: sidebar;
}
.footer {
  grid-area: footer;
}
